{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/video_page.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    {% block scripts %}
    {% endblock %}
</head>
<body>
<div id="header">
    {% block header %}
    {% endblock %}
</div>
<div class="main">
    {% block body %}
    {% endblock %}
</div>
<div id="info-display-container">
    {% block info-display-container %}
    {% endblock %}
</div>
</body>
</html>