{% extends "testcv2/base.html" %}
{% block header %}
    {% include "testcv2/header.html" %}

{% endblock %}
{% block body %}
    <div class="d-flex flex-row" style="padding: 20px">
        <div>
            <div>
                <img id="video_stream" alt="Video Stream" style="width: 100%; height: auto; aspect-ratio: 16/9;" src="">
            </div>
        </div>

        <div class="card" style="width: 40%;">
            <div>
                <form action="{% url 'video_page_single' %}" method="get">
                    <div class="grid row-gap-3" style="display: flex">
                        <div class="p-2 g-col-4">
                            <button class="btn btn-primary" type="submit" name="param" value="1">显示骨架图</button>
                        </div>
                        <div class="p-2 g-col-4">
                            <button class="btn btn-primary" type="submit" name="param" value="2">显示关键点</button>
                        </div>
                        <div class="p-2 g-col-4">
                            <button class="btn btn-primary" type="submit" name="param" value="3">显示胳膊夹角
                            </button>
                        </div>
                    </div>
                    <div class="grid row-gap-3" style="display: flex">
                        <div class="p-2 g-col-6">
                            <button class="btn btn-primary" type="submit" name="param" value="4">显示抬头角度（使用单眼）
                            </button>
                        </div>

                        <div class="p-2 g-col-6">
                            <button class="btn btn-primary" type="submit" name="param" value="5">显示抬头角度（使用双眼）
                            </button>
                        </div>
                    </div>
                    <div class="grid row-gap-3" style="display: flex">
                        <div class="p-2 g-col-12">
                            <button class="btn btn-primary" type="submit" name="param" value="6">显示抬头角度（使用所有头部信息）
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div>
                <div class="card-body" id="angle_display" style="height: 100%">
                </div>
            </div>
            <div>
                <div class="card-body" id="max_up_angle_display">
                    最大抬头角度: 0
                </div>
            </div>
            <div>
                <div class="card-body" id="max_down_angle_display">
                    最大低头角度: 0
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        let max_up_angle = 0;
        let max_down_angle = 0;
        console.log("init down: ", max_down_angle)

        function startStream() {
            const imgElement = document.getElementById('video_stream');
            const angleElement = document.getElementById('angle_display');
            const maxUpAngleElement = document.getElementById('max_up_angle_display');
            const maxDownAngleElement = document.getElementById('max_down_angle_display');
            const param = new URLSearchParams(window.location.search).get('param') || '1';

            const eventSource = new EventSource(`{% url "video_feed" %}?param=${param}`);

            eventSource.onmessage = function (event) {
                try {
                    const data = JSON.parse(event.data);
                    imgElement.src = 'data:image/jpeg;base64,' + data.image;
                    angleElement.textContent = `角度: ${data.angle}`;

                    // 控制最大角度更新逻辑
                    if (data.angle > 0) {
                        // 只在抬头角度增加时更新
                        if (data.angle > max_up_angle) {
                            max_up_angle = data.angle;
                            maxUpAngleElement.textContent = `最大抬头角度: ${max_up_angle}`;
                        }
                    } else if (data.angle < 0) {
                        // 只在低头角度减少时更新
                        if (-data.angle > max_down_angle) {
                            max_down_angle = -data.angle;  // 确保更新为正值
                            maxDownAngleElement.textContent = `最大低头角度: ${max_down_angle}`;
                        }
                    }
                } catch (e) {
                    console.error(e);
                }
            };

            eventSource.onerror = function () {
                console.error('Error receiving video stream');
                eventSource.close();  // 关闭流
            };
        }

        document.addEventListener('DOMContentLoaded', startStream);

    </script>
{% endblock %}
